extends layout

block content
  div(class='main-cont')
    h1 #{title}
    p #[strong Item:] #{category.name}
    p #[strong Description:] #{category.desc} 
    img(src=category.image_url width=250)
    hr
    p 
    a(href="/store" + category.url + "/update") Update category
    p 
    a(href="/store" + category.url + "/delete") Delete category
    hr
    p 
    a(href="/store" + category.url + "/upload-img") Upload new image for this category
