extends layout

block content
  div(class='main-cont')
    h1 Welcome to #{title}
    p Basic express site for practice 
    h1 Dynamic content includes:
    ul 
      li #{item_total} different items 
      li #{category_total} different categories of items
