body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
}

a {
  color: #00b7ff;
}

.sidebar-nav {
  list-style: none;
  padding-top: 15px;
  padding-left: 0;
  padding-right: 15px;
  width: 10vw;
}

.sidebar-nav > li {
  padding-top: 10px;
}

.main-cont {
  padding-left: 10px;
}
